/* -----
SVG Icons - svgicons.sparkk.fr
----- */

/* purgecss start ignore */

.page-ficciones main {
  min-height: auto;
}
.page-ficciones .to-top {
  display: none;
}

.ficciones .awssld__content {
  @apply bg-transparent;
}
.ficciones .awssld__wrapper {
  max-height: calc(100vh - 100px);
  height: 100vh;
}

.ficciones .awssld__controls button {
  top: 0;
  bottom: 0;
  height: 100%;
  background: rgba(40, 17, 54, 0.2);
  transition: all 0.42s;
  width: 76px;
}

.ficciones .awssld__controls button:hover {
  background: rgba(40, 17, 54, 0.4);
  width: 90px;
}

.ficciones .awssld__bullets {
  padding: 20px 0;
  position: relative;
  bottom: 0;
  height: 100px;
}

.ficciones .awssld__bullets button {
  height: 10px;
  width: 50px;
  margin: 5px 10px;
  border-radius: 0;
}

.ficciones .awssld__controls__arrow-left:after,
.ficciones .awssld__controls__arrow-left:before,
.ficciones .awssld__controls__arrow-right:after,
.ficciones .awssld__controls__arrow-right:before {
  @apply bg-white opacity-100;
}

.ficciones .awssld__content > div {
  min-width: 600px;
}

@media (max-width: 520px) {
  .awssld__controls {
    visibility: visible;
  }
  .ficciones .awssld__controls button {
    top: initial;
    height: 70px;
  }

  .ficciones .awssld__wrapper {
    max-height: calc(100vh - 60px);
  }
  .ficciones .awssld__bullets {
    bottom: 80px;
    height: 90px;
  }

  .ficciones .awssld__content {
    align-items: flex-start;
  }
}

@media (max-width: 730px) {
  .ficciones .awssld__content > div {
    min-width: auto;
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.home-post {
  background-color: #281136;
}

.home-post .actions .btn {
  @apply px-4 py-2 mx-2 rounded;
}

.home-post .awssld__wrapper {
  height: 430px;
}

a.text-red-500,
a.text-gray-500,
h2.text-red-500 {
  @apply transition-all duration-200;
}

a.text-red-500:hover,
a.text-gray-500:hover,
h2.text-red-500:hover {
  @apply underline;
}

.bg-gray-800 {
  background-color: #281136;
}

.home-post .awssld__wrapper .bg-gray-800 {
  background-color: #281136;
}

.authors .awssld {
  height: 90vh;
}

.inline-soundcloud {
  transform: scale(1.35) translateX(55px);
  padding: 0;
  max-width: 400px;
}

.artistica-card {
  @apply flex flex-col-reverse items-center justify-center h-24 my-2 mr-3 font-bold text-center text-red-600 transition-all duration-200 bg-gray-800;
}

.post .outline-none {
  outline: 0 none !important;
}

.artistica-card:hover {
  @apply text-white opacity-75;
}

.posts.soundcloud .post .soundcloud-player {
  transition: all 2s;
}

.posts.soundcloud .post:hover .soundcloud-player {
}

.posts .post {
  transition: all 2s;
}

.posts .post .shadow.bg-gray-800 {
  background-color: #281136;
}

.posts.columnas .post {
  flex: 1 1 50%;
}

.posts.animation .post:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.posts.animation .post:nth-child(2) {
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
}
.posts.animation .post:nth-child(3) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.posts.animation .post:nth-child(4) {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
.posts.animation .post:nth-child(5) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.posts.animation .post:nth-child(6) {
  animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
}
.posts.animation .post:nth-child(7) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.posts.animation .post:nth-child(8) {
  animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
}
.posts.animation .post:nth-child(9) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.posts.animation .post:nth-child(10) {
  animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
}
.posts.animation .post:nth-child(11) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.posts.animation .post:nth-child(12) {
  animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
}
.posts.animation .post:nth-child(13) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.posts.animation .post:nth-child(14) {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
.posts.animation .post:nth-child(15) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.posts.animation .post:nth-child(16) {
  animation-delay: 0.85s;
  -webkit-animation-delay: 0.85s;
}

.app-player {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  width: 300px;
  bottom: 0;
}

@screen sm {
  .app-player {
    top: 0;
  }
}

.awssld__content {
  background-color: #281136;
}

.awssld__bullets {
  background: #281136;
  padding: 4px 0;
  bottom: -20px;
}

.awssld__bullets button {
  height: 4px;
  width: 26px;
  margin: 5px;
  border-radius: 0;
}

.awssld__bullets .awssld__bullets--active,
.awssld__bullets .awssld__bullets--active:hover {
  transform: scale(1.1);
  background: #fff;
  @apply bg-red-600;
}

.app-player iframe {
  height: 100vh;
}

iframe {
  margin: 0;
}

.awssld__content .slider-item .gatsby-image-wrapper {
  display: none !important;
}

@screen sm {
  .awssld__content .slider-item .gatsby-image-wrapper {
    display: block !important;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
  width: 30px !important;
  height: 5px !important;
  border-radius: 0 !important;
  opacity: 0.33 !important;
  transition: all 0.8s;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-pagination-bullet-active {
  width: 5px !important;
}

.swiper-button-next,
.swiper-button-prev {
  @apply hidden;
}

@screen sm {
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 25px !important;
    text-align: right;
  }
}

.swiper-container {
  overflow: visible !important;
}

.swiper-pagination-bullet-active {
  @apply bg-red-500 !important;
}

.swiper-button-next,
.swiper-button-prev {
  filter: grayscale(1) hue-rotate(145deg);
  top: 0 !important;
  @apply block transition-all duration-200;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  filter: hue-rotate(-50deg);
  top: 0 !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  right: 60px !important;
  left: auto !important;
}

.swiper-slide {
  min-height: 220px !important;
  transform: scale(1);
  transition: all 0.8s;
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-slide .gatsby-image-wrapper {
  transform: scale(1);
}

.swiper-slide .gatsby-image-wrapper,
.swiper-slide .description {
  transition: all 0.8s;
}

.swiper-slide:hover .gatsby-image-wrapper {
  opacity: 0.2 !important;
  transform: scale(1.1);
}

.swiper-slide:hover .description {
  opacity: 10 !important;
}

.swiper-slide .description {
  opacity: 0 !important;
}

.swiper-slide .title {
  transition: all 0.8s;
}

.swiper-slide:hover .title {
  transform: scale(1.1) translateX(5px);
}
/*
.post-hero {
  background-image: url(../images/bg-pattern-1.svg);
  background-position: 40% 50%;
  background-size: cover;
}
*/

.homeHero {
  /*
  background-image: url(../images/bg-pattern-1.svg);
  background-position: 40% 50%;
  background-size: cover;
  */
  /*-webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;*/
}

.homeHero:hover {
  opacity: 1;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 100%;
    background-size: 100% 100%;
  }
  50% {
    background-position: 100% 300%;
    background-size: 200% 200%;
    opacity: 0.1;
  }
  100% {
    background-position: 0% 100%;
    background-size: 100% 100%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 100%;
    background-size: 100% 100%;
  }
  50% {
    background-position: 100% 300%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 100%;
    background-size: 100% 100%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 100%;
    background-size: 100% 100%;
  }
  50% {
    background-position: 100% 300%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 100%;
    background-size: 100% 100%;
  }
}

.home-hero-links {
  @apply flex flex-wrap mb-12;
  background: transparent;
}

.home-hero-links a {
  @apply flex flex-col items-center justify-center py-6 transition-all duration-200;
  @apply font-mono text-base text-red-500;
}

.home-hero-links a:hover {
  @apply bg-red-500;
}

.home-hero-links a:hover {
  @apply shadow-sm;
}

.home-hero-links span {
  @apply pt-2;
}

@screen sm {
  .home-hero-links span {
    @apply block;
  }
}

.home-hero-links svg {
  @apply w-8 h-8;
}

.columna-article iframe {
  @apply my-0;
}

.search-item:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.search-item:nth-child(2) {
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
}
.search-item:nth-child(3) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.search-item:nth-child(4) {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
.search-item:nth-child(5) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.search-item:nth-child(6) {
  animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
}
.search-item:nth-child(7) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.search-item:nth-child(8) {
  animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
}
.search-item:nth-child(9) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.search-item:nth-child(10) {
  animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
}
.search-item:nth-child(11) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.search-item:nth-child(12) {
  animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
}
.search-item:nth-child(13) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.posts.animation .post:nth-child(14) {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
.posts.animation .post:nth-child(15) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.posts.animation .post:nth-child(16) {
  animation-delay: 0.85s;
  -webkit-animation-delay: 0.85s;
}

.entrevista-item {
}

.entrevista-item:hover .title {
  background: transparent !important;
  opacity: 1;
}

.entrevista-item .title {
  @apply relative z-10 block w-full px-6 py-4 font-mono text-2xl text-center text-red-500;
  bottom: 0;
  opacity: 0;
}

.entrevista-item .title:hover {
  @apply text-white;
  opacity: 1;
}

.entrevista-item .description {
  @apply relative bottom-0 z-10 px-6 pb-6 text-center;
}

.changelog {
  @apply p-6 m-auto my-6 bg-gray-800;
}

.changelog h4 {
  @apply mt-6 text-lg text-white;
}

.changelog p {
  @apply my-2 text-base;
}

.tarantos {
  min-height: 90vh;
  /*background-color: #333;*/
}

.tarantos-title {
  position: relative;
  top: 10px;
  left: -10px;
  z-index: 9;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgslider {
  max-height: 100vh;
  overflow: hidden;
  position: fixed !important;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article blockquote {
  @apply text-white;
}

.article hr {
  @apply my-3;
  border-top: 1px solid;
  opacity: 0.5;
}

.article h1 {
  @apply text-4xl;
}

.article h2 {
  @apply text-3xl;
}

.article h3 {
  @apply text-2xl;
}

.article h4 {
  @apply text-xl;
}

.article h5 {
  @apply text-lg;
}

.article h6 {
  @apply text-base;
}

.article blockquote {
}

main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
  color: #fff;
}
main canvas {
  padding: 20px;
  margin: 0 auto;
  display: block;
}

/* purgecss end ignore */
