/* purgecss start ignore */

.live-btn {
  opacity: 1;
  /* border-radius: 0.25rem; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @apply pr-0;
}

.live-btn:hover {
  @apply text-red-200 !important;
}

.live-btn.active {
}

.live-stream {
}
.live-stream h3 {
  @apply py-6 font-mono text-xl text-red-500;
}

.live-stream .live {
  background: rgb(40, 17, 54);
  @apply flex flex-col items-center justify-center text-center;
}
.live-stream .live iframe {
  @apply pt-6;
}

header nav {
  transition: all 0.8s;
  transition-delay: 0.8s;
  transform: translateY(0);
  opacity: 1;
}

header {
  transition: all 0.8s;
}
.app-vivo header {
  background: transparent;
  border-bottom: 1px solid transparent;
}

.app-vivo.notanenvivo header {
  background: #9b2c2c;
}

@screen lg {
  .app-vivo.notanenvivo header {
    background: transparent;
  }
}

.app-vivo.notanenvivo header nav {
  transform: translateY(-200px);
  opacity: 0;
}

/* purgecss end ignore */
