@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  background-color: #14061d;
}

a {
  text-shadow: none !important;
  background-image: none !important;
}
.post .bg-image-hover-opacity,
.slider-item .bg-image-hover-opacity {
  @apply transition-all duration-500;
  /*filter: blur(3px);*/
  filter: grayscale(1);
}

.post:hover .bg-image-hover-opacity,
.slider-item:hover .bg-image-hover-opacity {
  opacity: 0.3 !important;
  transform: scale(1.05);
  /*filter: blur(0);*/
  filter: grayscale(0);
}

.post .description,
.slider-item .description {
  @apply transition-all duration-1000 opacity-0;
}

.post:hover .description,
.slider-item:hover .description {
  opacity: 1;
}

@screen lg {
  body {
    margin-left: 0;
  }
}

main {
  @apply min-h-screen;
}

footer {
  @apply p-12 pt-6 text-center;
  background-color: #0d0314;
  padding-bottom: 130px;
}

aside {
  top: 25px;
}

footer a {
  @apply text-white;
}

footer a:hover {
  @apply text-red-600;
}

.authors a.active {
  @apply text-white;
}

@screen md {
  .authors a {
    background: #210e2d;
  }

  .authors a:hover {
    background: #1b0c25;
  }
}
